body{
  background-color: #212121;
}

#page-container{
  width: 98%;
}

#header{
  height: 130px;
  width: 100%;
  background-image: url("../images/header.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#game-card{
  width: 900px;
  height: 568px;
  background-image: url("../images/game-card.png");
  background-repeat: no-repeat;
}

#new-game{
  position: absolute;
  top: 255px;
  left: 735px;
  color: red;
  opacity: 0;
  height: 40px;
  width: 110px;
}

#score-display{
  text-align: center;
  position: relative;
  width: 40px;
  top: 320px;
  left: 742px;
  color: red;
}

#more, #similar, #footer{
  position: relative;
  top: 50px;
  right: 15px;
}

#similar{
  top: 100px;
}

#divider{
  position: relative;
  top: 130px;
}

#footer{
  position: relative;
  top: 150px;
  padding-bottom: 30px;
}
